* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Rubik", sans-serif;
  font-size: 1.8rem;
  line-height: 1;
  font-weight: 400;
  color: #8a4c14;
}

/* REUSABLE COMPONENTS */
.container {
  /* 1140px */
  max-width: 120rem;
  padding: 0 3.2rem !important;
  margin: 0 auto;
}
.container-big {
  position: relative;
  max-width: 130rem;
  padding: 0 2rem;
  margin: 0 auto;
}
.grid,
.grid-small {
  display: grid;
  column-gap: 6.4rem;
  row-gap: 15rem;
}

.grid--center-v {
  align-items: center;
}

.grid--2-cols {
  grid-template-columns: repeat(2, 1fr);
}

.grid--3-cols {
  grid-template-columns: repeat(3, 1fr);
}

.grid--4-cols {
  grid-template-columns: repeat(4, 1fr);
  column-gap: 1.3rem;
}

.grid--5-cols {
  grid-template-columns: repeat(5, 1fr);
}

.company-logo {
  height: 2.2rem;
}

.heading-secondary {
  font-size: 4.4rem;
  font-weight: 700;
  color: #5c320e;
  line-height: 1.2;
  margin-bottom: 10rem;
}

.sub-heading {
  display: block;
  font-size: 2.2rem;
  font-weight: 600;
  color: #cf711f;
  margin-bottom: 1.6rem;
  letter-spacing: 0.75px;
}

.heading-tertiary {
  font-size: 3rem;
  line-height: 1.2;
  margin-bottom: 3.2rem;
  color: #5c320e;
}

.btn {
  text-decoration: none;
  font-weight: 600;
  display: inline-block;
  border-radius: 1.7rem;

  transition: all 0.3s; /* Put transition on original "state" */
}

.btn.pad-l {
  padding: 2rem 2.5rem;
}

.btn.pad-m {
  padding: 1.6rem 2.7rem;
}

.btn.pad-s {
  padding: 1.2rem 3rem;
}

.btn-primary:link,
.btn-primary:visited {
  background-color: #e67e22;
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.11);
  color: white;
}

.btn-primary:hover,
.btn-primary:active {
  background-color: #cf711f;
  color: white;
  box-shadow: none;
}

.btn-second:link,
.btn-second:visited {
  background-color: #fff9d6;
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.11);
  color: #8a4c14;
}

.btn-second:hover,
.btn-second:active {
  background-color: #ffea75;
  box-shadow: inset 0 0 0 0.4rem #bf8e62;
  color: #a15818;
}

.btn-tertiary:link,
.btn-tertiary:visited {
  font-size: 1.6rem;
  background-color: transparent;
  border: 0.3rem solid currentColor;
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.1);
  color: #e67e22;
}

.btn-tertiary:hover,
.btn-tertiary:active {
  background-color: #e67e22;
  color: white;
  box-shadow: none;
}

.btn-form {
  cursor: pointer;
  background-color: #45260a;
  color: #fdf2e9;
  font-family: inherit;
  font-size: 1.5rem;
  letter-spacing: 1.2px;
  border: none;
  margin-top: 2.4rem;
  border-radius: 0.8rem;
}

.btn-form:hover {
  background-color: #fff9d6;
  color: #8a4c14;
}

.list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.list-item {
  display: flex;
  align-items: center;
  gap: 1.6rem;
}

.list-icon {
  width: 3rem;
  height: 3rem;
  color: #e67e22;
}

/* ANIMATION & TRANSITION */
@property --color1 {
  syntax: "<color>";
  initial-value: white;
  inherits: false;
}

@property --color2 {
  syntax: "<color>";
  initial-value: white;
  inherits: false;
}

@property --color3 {
  syntax: "<color>";
  initial-value: #fdf2e9;
  inherits: false;
}

.hoverUp {
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);
  border: 1px solid #fdf2e9;
  background: linear-gradient(var(--color1), var(--color2));
  transition: all 0.4s, --color1 0.4s, --color2 0.4s;
}
.hoverUp:hover {
  --color1: #fff9d6;
  transform: translateY(-1.2rem);
  box-shadow: 0 3.2rem 6.4rem rgba(0, 0, 0, 0.06);
}

.scaleUp {
  transition: all 0.3s;
}
.scaleUp:hover {
  transform: scale(1.3);
  transition: all 0.3s;
}

.visible {
  opacity: 1;
  transform: scale(1);
}

/* HELPER/SETTINGS CLASSES */

.margin-right-sm {
  margin-right: 1.6rem !important;
}

.margin-bottom-sm {
  margin-bottom: 1.6rem !important;
}

.margin-bottom-md {
  margin-bottom: 4.5rem !important;
}

.margin-top-sm {
  margin-top: 2.7rem;
}

.margin-top-md {
  margin-top: 3.1rem;
}

.margin-top-l {
  margin-top: 5.4rem;
}

.center-text {
  text-align: center;
}

.padding-l {
  padding: 9.6rem 0;
}

.highlight {
  font-weight: 500;
}
