@media (max-width: 99em) {
  .section-testimonials {
    gap: 0;
  }

  .swiper-button-next {
    right: 5%;
  }

  .swiper-horizontal > .swiper-pagination-bullets {
    width: 90%;
    bottom: -1%;
  }
}

/* BELOW 1376px (Smaller desktops) */
@media (max-width: 86em) {
  .hero {
    max-width: 120rem;
    column-gap: 2rem;
  }

  .hero-img-box {
    padding: 25.5rem 26rem;
  }

  .hero-img {
    width: 65.9rem;
  }

  .hero-heading {
    font-size: 4.2rem;
  }

  .hero-descrip {
    font-size: 1.8rem;
  }

  .section-testimonials {
    grid-template-columns: 1fr;
    padding-left: 0;
  }

  .testimonial-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .swiper-button-prev {
    opacity: 100%;
    pointer-events: auto;
    visibility: visible;
  }

  .swiper-button-next {
    right: 14%;
  }

  .swiper-horizontal > .swiper-pagination-bullets {
    width: 100%;
    padding-bottom: 6rem;
  }
  .gallery {
    grid-template-columns: repeat(6, 1fr);
  }
}

/* BELOW 1169px (Landscape Tablets) */
@media (max-width: 74em) {
  html {
    font-size: 56.25%; /* 9px / 16px  */
  }

  .grid {
    column-gap: 4.8rem;
    row-gap: 6.4rem;
  }

  .grid-small {
    column-gap: 1.8rem;
  }

  .heading-secondary {
    font-size: 3.6rem;
  }

  .heading-tertiary {
    font-size: 2.4rem;
  }

  .header {
    padding: 0 3.2rem;
  }

  .nav-list {
    gap: 3.2rem;
  }

  .hero-heading {
    font-size: 4rem;
  }

  .hero-img-box {
    padding: 25rem 23.5rem;
  }

  .hero-img {
    width: 59.1rem;
  }

  .testimonials-container {
    padding: 9.6rem 3.2rem;
  }

  .feature {
    padding: 3.8rem 2.5rem;
  }
}

/* BELOW 997px (Tablets) */
@media (max-width: 62em) {
  html {
    font-size: 50%; /* 8px / 16px = 0.5 = 50% */
  }

  .hero {
    grid-template-columns: 1fr;
    margin: 18rem 4rem 7rem 4rem;
  }

  .hero-img-box {
    grid-row: 1;
    width: 100%;
    padding: 24% 0;
  }

  .hero-img {
    width: 65%;
    top: 0;
    right: 13%;
    transform: translateY(-28%);
  }

  .hero-text {
    margin: 0 7rem;
    text-align: center;
  }

  .rating-box {
    bottom: 35%;
    left: 16%;
    transform: translate(0, 0);
  }

  .meals-delivered {
    margin-top: 8rem;
    justify-self: center;
  }

  .featured-logos img {
    height: 2.4rem;
  }

  .step-num {
    font-size: 7.4rem;
  }

  .meal-content {
    padding: 16.7rem 3.5rem 3.2rem 3.5rem;
  }

  .cta-bg {
    grid-template-columns: 3fr 2fr; /* 3/5 = 60% + 2/5 = 40% */
  }
}

@media (max-width: 53em) {
  /* BELOW 848px */
  .grid {
    row-gap: 7rem;
  }

  .grid--3-cols {
    grid-template-columns: 1fr;
  }

  .meal-img {
    width: 75%;
    transform: translate(45px, -44%);
  }

  .meal-img.ver1 {
    transform: translate(25%, -44%);
  }

  .meal,
  .diets {
    grid-column: 1 / -1;
    justify-self: center;
  }

  .diets {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .diets a {
    margin-top: 5rem;
  }

  .meal:nth-child(2) {
    margin-top: 10rem;
  }

  .pricing-plan {
    margin: 0 16rem;
  }

  .preferred-plan {
    transform: scale(1);
  }

  .cta-form {
    grid-template-columns: 1fr;
  }

  .btn-form {
    margin-top: 3.2rem;
  }

  .swiper-button-next {
    right: 7%;
  }
  .swiper-button-prev {
    left: 10%;
  }

  /* MOBILE NAVIGATION */
  .btn-mobile-nav {
    display: block;
  }

  .main-nav {
    background-color: rgba(255, 255, 255, 0.97);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    transform: translateX(100%);

    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.5s ease-in;
    /* HIDE */
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
  }

  .nav-open .main-nav {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
    transform: translateX(0);
  }

  .nav-open .icon-mobile-nav[name="close-outline"] {
    display: block;
  }

  .nav-open .icon-mobile-nav[name="menu-outline"] {
    display: none;
  }

  .main-nav-list {
    flex-direction: column;
    gap: 4.8rem;
  }

  .main-nav-link:link,
  .main-nav-link:visited {
    font-size: 3rem;
  }
}

/*01 : TYPOGRAPHY SYSTEM
 - FONT SIZE (px): 
    10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

 - FONT WEIGHT: 400 / 500 / 600 / 700
    default: 400

 - LINE HEIGHT:
    default: 1
    Small: 1.05
    Medium: 1.2
    Paragraph default: 1.6
    Large: 1.8
    */
