/* NAVIGATION */
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  height: 8.3rem;
  background-color: #fff9d6;
  padding: 0 4.5rem;
}

.company-logo {
  height: 2.2rem;
}

.nav-list {
  display: flex;
  align-items: center;
  gap: 6.2rem;
  list-style: none;
}
.nav-link:link,
.nav-link:visited {
  display: inline-block;
  text-decoration: none;
  color: #5c320e;
  font-size: 1.8rem;
  font-weight: 500;
  transition: all 0.3s;
}

.nav-link:hover,
.nav-link:active {
  color: #e67e22;
}

.nav-link.nav-cta:link,
.nav-link.nav-cta:visited {
  background-color: #e67e22;
  color: white;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 9px;
  padding: 1.2rem 2.4rem;
}

.nav-link.nav-cta:hover,
.nav-link.nav-cta:active {
  background-color: #cf711f;
  box-shadow: none;
}

/* HERO SECTION */

.hero {
  max-width: 130rem;
  margin: 1.9rem auto;
  padding: 0 6.1rem;
  background-color: #ffea75;
  border-radius: 58px;

  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;

  position: relative;
}

.hero-heading {
  color: #5c320e;
  font-size: 4.8rem;
  margin-bottom: 3.2rem;
  line-height: 1.05;
}

.hero-descrip {
  max-width: 52.82rem;
  line-height: 1.6;
  margin-bottom: 4.8rem;
}

.hero-img-box {
  max-width: 31.5rem;
  padding: 28.5rem 30rem;
}

.hero-img {
  /* width: 100%;
  transform: scale(1.1); */
  position: absolute;
  width: 71.9rem;
  right: 0;
  top: 50%;
  transform: translate(4%, -48.5%);
}

.meals-delivered {
  display: flex;
  align-items: center;
  gap: 0.8rem;
  margin-bottom: 3.3rem;
}

.meals-delivered p {
  display: inline-block;
  font-size: 18px;
  font-weight: 500;
  color: #a15818;
}

.meals-delivered span {
  color: #cf711f;
  font-weight: 600;
}
