/***************/
/* NAVIGATION */
/*************/
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  height: 8.3rem;
  background-color: #fff9d6;
  padding: 0 4.5rem;
}

.company-logo {
  height: 2.2rem;
}

.nav-list {
  display: flex;
  align-items: center;
  gap: 6.2rem;
  list-style: none;
}
.nav-link:link,
.nav-link:visited {
  display: inline-block;
  text-decoration: none;
  color: #5c320e;
  font-weight: 500;
  transition: all 0.3s;
}

.nav-link:hover,
.nav-link:active {
  color: #e67e22;
}

.nav-link.nav-cta:link,
.nav-link.nav-cta:visited {
  background-color: #e67e22;
  color: white;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 9px;
  padding: 1.2rem 2.4rem;
}

.nav-link.nav-cta:hover,
.nav-link.nav-cta:active {
  background-color: #cf711f;
  box-shadow: none;
}

/*****************/
/* HERO SECTION */
/***************/

.hero {
  max-width: 130rem;
  margin: 3rem auto;
  padding: 0 6.1rem;
  background-color: #ffea75;
  border-radius: 58px;

  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}

.hero-heading {
  color: #5c320e;
  font-size: 4.8rem;
  margin-bottom: 3.2rem;
  line-height: 1.05;
}

.hero-descrip {
  font-size: 2rem;
  max-width: 52.82rem;
  line-height: 1.6;
  margin-bottom: 4.8rem;
}

.hero-img-box {
  max-width: 31.5rem;
  padding: 28.5rem 30rem;
  position: relative;
}

.hero-img {
  /* width: 100%;
  transform: scale(1.1); */
  position: absolute;
  width: 71.9rem;
  right: 0;
  top: 50%;
  transform: translate(17%, -44%);
}

.hero-btn {
  display: flex;
  gap: 3rem;
}
.rating-box {
  display: flex;
  align-items: center;
  justify-content: center;
  /* width: 21.9rem;
  height: 6.6rem; */
  padding: 9px 23px 9px 11px;
  background-color: rgba(255, 255, 255, 0.85);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 33px;

  position: absolute;
  bottom: 0;
  left: 0;
  transform: translate(-15%, -40%);
}

.rating-img {
  display: flex;
}

.rating-img img {
  height: 4.4rem;
  width: 4.4rem;
  border-radius: 50%;
  border: 2px solid #fdf2e9;
  margin-right: -1.5rem;
}

.rating-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e67e22;
  width: 3.6rem;
  height: 3.6rem;
  border-radius: 50%;
  margin-right: 9px;
  transition: all 0.3s;
}

.plus-icon {
  width: 2.2rem;
  height: 2.2rem;
  color: white;
}

.star-icon {
  color: #f6aa1c;
  height: 1.7rem;
  width: 1.8rem;
}

.rating-txt {
  font-weight: 600;
  color: #cf711f;
}

.meals-delivered {
  display: flex;
  align-items: center;
  gap: 0.8rem;
  margin-bottom: 3.3rem;
}

.meals-delivered p {
  display: inline-block;
  font-size: 18px;
  font-weight: 500;
  color: #a15818;
}

.meals-delivered span {
  color: #cf711f;
  font-weight: 600;
}
/*************************/
/* FEATURED IN SECTION */
/***********************/

.section-featured {
  padding: 5rem 0 3.2rem 0;
}

.featured-heading {
  font-size: 1.5rem;
  font-weight: 500;
  letter-spacing: 1px;
  color: #bf8e62;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 2.4rem;
}
.featured-logos {
  display: flex;
  justify-content: space-around;
}

.featured-logos img {
  height: 3rem;
}

/*************************/
/* HOW IT WORKS SECTION */
/***********************/
.step-num {
  font-size: 8.6rem;
  font-weight: 700;
  color: #d6b79b;
  margin-bottom: 1.2rem;
}

.app-descrip {
  line-height: 1.7;
}

.app-img-box {
  display: flex;
  align-items: center;
  justify-content: center;

  position: relative;
}

.app-img {
  width: 40%;
}

.app-img-box::before {
  content: "";
  background-color: #fdf2e9;
  width: 65%;
  padding-bottom: 65%;
  z-index: -2;
}

.app-img-box::after {
  content: "";
  background-color: #f8d8bd;
  width: 50%;
  padding-bottom: 50%;
  z-index: -1;
}

.app-img-box::before,
.app-img-box::after {
  border-radius: 50%;
  position: absolute;
}

/*************************/
/* MEALS SECTION */
/***********************/
.section-meals {
  background: linear-gradient(#faecdf 5%, #ffffff 40%);
}

.meal {
  background-color: white;
  border-radius: 37px;
  position: relative;
  margin-top: 4rem;
}

.meal-content {
  padding: 16.7rem 4.5rem 3.2rem 4.5rem;
}

.meal-img {
  position: absolute;
  width: 100%;
  top: 0;
  transform: translate(0, -42%);
}

.meal-img.ver1 {
  transform: translate(11%, -42%);
}

.meal-rate {
  color: #f6aa1c;
  display: flex;
  gap: 0.4rem;
  margin-bottom: 1.3rem;
}

.meal-star {
  height: 1.4rem;
  width: 1.4rem;
}

.meal-rateNum {
  font-size: 1.4rem;
  font-weight: 500;
}

.meal-title {
  font-size: 2.2rem;
  font-weight: 600;
  margin-bottom: 0.7rem;
  color: #5c320e;
}

.meal-tags {
  margin-bottom: 1.9rem;
  display: flex;
  gap: 0.9rem;
  justify-content: center;
}

.tag {
  display: inline-block;
  color: #5c320e;
  padding: 0.4rem 0.8rem;
  font-size: 1.1rem;
  font-weight: 600;
  text-transform: uppercase;
  border-radius: 100px;
}

.tag--vegetarian {
  background-color: #51cf66;
}
.tag--vegan {
  background-color: #94d82d;
}
.tag--paleo {
  background-color: #ffd43b;
}

.meal-descrip {
  font-size: 1.4rem;
  color: #bf8e62;
  line-height: 1.7;
  margin-bottom: 3.2rem;
}

.meal-icon {
  height: 1.7rem;
  width: 1.7rem;
}

.meal-attributes {
  list-style: none;
  color: #e67e22;
  font-weight: 500;
  font-size: 1.4rem;
}

.meal-attribute {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1rem;
}

/****************************/
/* Testimonial and Gallery */
/**************************/
.section-testimonials {
  display: grid;
  grid-template-columns: 60fr 40fr;
  align-items: center;
}

.testimonial-container {
  padding: 2rem 9.6rem 9.6rem 9.6rem;
  overflow: hidden; /*cr*/
}

.testimonial {
  width: 100%;
  max-width: 60rem;
  background-color: #fff4ea;
  padding: 2.7rem 5.5rem 4rem 5.5rem;
  border-radius: 4rem;
  box-shadow: 0 5px 17px rgba(0, 0, 0, 0.15);
  margin-right: 13rem; /*cr: gap between testimonials*/
}

.testimonials {
  width: 100%; /*all carousel*/
  padding: 1rem 0 5rem 0;
  max-width: 900px;
  position: relative;
  overflow: hidden;
}

.testimonial-text {
  line-height: 1.5;
  color: #bf8e62;
}

.testimonial-descrip {
  display: grid;
  grid-template-columns: 1fr 4fr;
  align-items: center;
}

.testimonial-img {
  width: 7.6rem;
  border-radius: 50%;
}

.customer-descrip {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.rate-container {
  display: flex;
  gap: 0.5rem;
}
.testi-rate {
  color: #f6aa1c;
}

.testi-name {
  font-size: 2rem;
  font-weight: 600;
}

.testi-customer {
  font-size: 1.4rem;
  font-weight: 500;
  color: #bf8e62;
}

/* swiper button css */
.nav-btn {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.1);
  transition: 0.2s;
}
.nav-btn:hover {
  background-color: rgba(0, 0, 0, 0.2);
}
.nav-btn::after,
.nav-btn::before {
  font-size: 18px;
  color: white;
  font-weight: 600;
}

.swiper-pagination-bullet {
  background-color: rgba(0, 0, 0, 0.8);
}
.swiper-pagination-bullet-active {
  background-color: #e67e22;
}

.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal {
  position: absolute;
  width: 90%;
}

@media screen and (max-width: 768px) {
  .slide p {
    padding: 0 20px;
  }
  .nav-btn {
    display: none;
  }
}

/*gallery*/
.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  position: relative;
  background-color: #e67e22;
}

.gallery-item {
  overflow: hidden;
}

.border {
  border: 0.7rem solid white;
}
.gallery-item img {
  display: block;
  width: 100%;
  transition: all 0.4s;
  opacity: 75%;
}
.gallery-item img:hover {
  transform: scale(1.1);
  opacity: 100%;
}
/* PRICING */
.pricing-plan {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 9rem;
  padding: 4.2rem 5.2rem 6.4rem 4.2rem;
  border: 2px solid #fdf2e9;
  border-radius: 2.5rem;
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.1) !important;
}

.plan-name {
  text-transform: uppercase;
  font-weight: 500;
  margin-bottom: 4.2rem;
}

.plan-price {
  color: #e67e22;
  font-size: 4.6rem;
  font-weight: 500;
  margin-bottom: 1.3rem;
}

.plan-descrip {
  font-size: 1.5rem;
  color: #bf8e62;
}

.not-included {
  width: 3rem;
  height: 3rem;
}

.preferred-plan {
  transform: scale(1.12);
  background: linear-gradient(var(--color3) 40%, var(--color2) 80%);
  border: none;
  position: relative;
  overflow: hidden;
  transition: all 0.5s, --color3 0.5s, --color2 0.5s;
}

.preferred-plan:hover {
  transform: translateY(-1.8rem) scale(1.12);
  --color3: #fff9d6;
}

.preferred-plan::after {
  content: "Best value";
  position: absolute;
  top: 5%;
  right: -21%;

  text-transform: uppercase;
  font-size: 1.2rem;
  font-weight: 600;
  background-color: #ffea75;
  padding: 0.8rem 8rem;
  transform: rotate(45deg);
}

.price-features li {
  font-size: 1.6rem;
}

.plan-details {
  font-size: 1.6rem;
  line-height: 1.6;
  text-align: center;
}

/* PRICING TOGGLE BUTTON */
.toggle-prices {
  margin: 2.3rem 0 4.7rem 0;
}

.toggle-wrapper {
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 22.5rem;
  background: #efefef;
  border: 2px solid #efefef;
  border-radius: 50px;
  margin: 0 auto;
}

.toggle-wrapper:before {
  content: "";
  position: absolute;
  background: white;
  width: 12rem;
  top: -4%;
  height: 3.5rem;
  border-radius: 3.3rem;
  border: 2px solid #efefef;
  transition: all 150ms ease-in;
}

.toggle-wrapper p {
  z-index: 1;
  font-size: 1.2rem;
  text-align: center;
  padding: 1.2rem 2.2rem;
  font-weight: 500;
  color: #8a8a8a;
}

.toggle-wrapper p:first-child {
  color: #616161;
}

.toggle {
  display: none;
}
.toggle:checked + .toggle-wrapper:before {
  transform: translateX(80%);
}
.toggle:checked + .toggle-wrapper p:first-child {
  color: #8a8a8a;
}
.toggle:checked + .toggle-wrapper p:last-child {
  color: #616161;
}

.toggle-wrapper:hover {
  cursor: pointer;
}

/* FEATURES */
.section-features {
  position: relative;
  max-width: 130rem;
  padding: 0 2rem;
  margin: 0 auto;
}
.section-features::before {
  content: "";
  background-color: #fdf2e9;
  width: 98%;
  padding-bottom: 27%;
  z-index: -2;
  border-radius: 2.8rem;
  position: absolute;
}

.feature-heading {
  margin: 4.3rem 0 1rem 5.3rem;
}

.feature-button {
  border-radius: 1.1rem !important;
  font-size: 1.4rem;
  margin: 5.5rem 4rem 0 0;
  justify-self: end;
}

.feature-content {
  padding: 0 1rem 0 2.2rem;
}
.feature {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  border-radius: 1.1rem;
  padding: 3.8rem 5.5rem;
}
.feature-icon {
  color: #e67e22;
  height: 3.2rem;
  width: 3.2rem;
  background-color: #fdf2e9;
  margin-bottom: 2.3rem;
  padding: 1.6rem;
  border-radius: 50%;
}

.feature-title {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 1.4rem;
}

.feature-text {
  font-size: 1.5rem;
  line-height: 1.5;
}
